<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Memobook</title>
    <style>
    	td {
	    	background:#ffece5;
	    	border: grey 1px; 
	    	border:#ff9999 1px solid;
	    	padding:10px;
	    	margin:10px;
	    }
	    
	    .memo-info {
	    	display:inline-block;
	    	padding:3px;
	    }	
	    

	    .form-div {
	    	margin: 5px;
	    }
	    
	    .memo-bottom-line{
	    	display:inline-block;
	    }
	    
	    .delete {
	   		padding-left:10px;
	    	padding-right:90px;
	    }
	    
	    textarea{
	    	background-color:snow;
	    	border: 1px solid LightGrey;
	    }
	    
	    input[type=button] {
	    	margin-top:10px;
 			border: 1px solid DarkGray; 
 			border-radius:2px;
         }
	   
    </style>
</head>

<body>
	<!-- login -->
   <section class="container">
      <form id="loginform">
        <h2>Login to use Memo Book</h2>
        <div class="msg"></div>
        <div>
          <label for="name">id&nbsp </label>
          <input type="text" id="id">
        </div>
        <div>       
          <label for="email">pw </label>
          <input type="text" id="password">
        </div>
        <input class="btn" type="submit" value="sign in">
      </form>
      
      <ul id="users"></ul>
    </section>

	<section class="formTag">
		<!-- memo content html is listed here -->
	</section>

</body>
<script th:inline="javascript">
	
	//fires as soon as the page's DOM is ready (doesn't wait for images, etc.).
	$( document ).ready(function() {
		createMemoHtml();
	});
	
	const allmemo = [[${memo}]];
	
	/**
	 * get date : 1970-01-01T00:00:00.000+09:00 -> 1970-01-01
	 */
	function getdate(date){
		return date.substring(0,10);
	}
	
	function createMemoHtml(){
	//get memo list -> create html
	allmemo.forEach(element =>{
	console.log(element.id);
	
	    //create dynamic html form
	    let html = `<div class ="form-div">`;
	    
	    html += `<form class="memoform">`; 
	    html += ` <div>`;
		html += `  <input class = "input-1stlayer" type="hidden" class="form-control" id="id" value=${element.id}>`;
		html += `</div>`;
		html += ` <div class="memo-info">`;
		html += ` <input type="hidden" class="form-control" id="update_date" value=${getdate(element.update_date)}>`;
		html += ` </div>`;
		html += `   <div class="memo-info">`;
		html += `  <input type="hidden" class="form-control" id="writer" value=${element.writer}>`;
		html += ` </div>`;
		html += ` <div class="memo-content">`;
		html += `  <textarea id="content" rows="20" cols="50">${element.content}</textarea>`;
		html += `</div>`;
		html += `<div class="save memo-bottom-line">`;
		html += `<input type="submit" value="save">`;
		html += `</div>`;	
/* 		html += `<div class="delete memo-bottom-line">`;
		html += `<input type="submit" value="delete">`;
		html += `</div>`;	 */
		html += `<div class="memo-file memo-bottom-line">`;
		html += `  <input type="file" class="form-control-file" id="file">`;
		html += `</div>`;
	
		html += `</form>`;
		html += `</div>`;
	
		$(".formTag").append(html);
		
	});
	}
	
	
	 console.log($(".form-div").html());
	//const hello = document.querySelector('.memoform');
	//console.log(hello);
	//memoform.addEventListener('submit', submitMemo);   //refer to the type of the submit input ..<input type="submit"
	
	//add & update & delete
	function submitMemo(){
		
		//jquery ajax | send a form 
		//if value is save, add/update
		//if value id delete, delete
		//if(){}else if(){}
		console.log($(".delete").val());
		$("#formTag").ajaxForm({url: '/addMemo', type: 'post'})
	};
	
	
	//login
	const loginform = document.querySelector('#loginform');
	const msg =document.querySelector('.msg');
	const inputId = document.querySelector('#id');
	const inputPassword = document.querySelector('#password');
	

	//on clicking login button, execute onSubmit function
	loginform.addEventListener('submit', onSubmit);
	
	function onSubmit(e){
	    e.preventDefault();
	
	    if(inputId.value === '' || inputPassword.value === ''){
	        msg.innerHTML = `empty value. please insert id and password`;
	        msg.classList.add('error');
	        // inputName.addEventListener('focusin', e => {
	        //     msg.innerHTML = '';
	        //     msg.classList.remove('error');
	        // });
	        setTimeout( () =>{
	            msg.innerHTML = '';
	            msg.classList.remove('error');
	        }, 3000)
	    }else{
	        console.log("id: "+inputId.value+" pw: "+ inputPassword.value);
	    }
	
	    //if id&password is correct, login
	    if( inputId.value === 'jinjoo' && inputPassword.value === '1234'){
	         //create li tag
	        const li = document.createElement('li');
	        //put input values into li tag
	        li.innerHTML = `<strong> user ${inputId.value} logged in succesfully </strong>`;
	        //insert li into the userlist
	        users.appendChild(li);
	    }else{
	        const li = document.createElement('li');
	        //put input values into li tag
	        li.innerHTML = `<strong> login fail. check your id & email </strong>`;
	        //insert li into the userlist
	        users.appendChild(li);
	    }
	}

</script>
</html>
