<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link th:rel="stylesheet" href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
	 <link th:rel="stylesheet" href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="@{sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm}" crossorigin="@{anonymous}">
	 <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
	 <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
   	<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" integrity="@{sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q}" crossorigin="@{anonymous}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" integrity="@{sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl}" crossorigin="@{anonymous}"></script>
    <title>Memobook</title>
    <link th:href="@{../static/style.css}" rel="stylesheet" />
    <style>
    	td {
	    	background:#ffece5;
	    	border: grey 1px; 
	    	border:#ff9999 1px solid;
	    	padding:10px;
	    	margin:10px;
	    }
	    
	    
​
		
    </style>
</head>
<body>
   <section class="container">
      <form id="my-form">
        <h3>Login to use Memo Book</h3>
        <div class="msg"></div>
        <div>
          <label for="name">id:</label>
          <input type="text" id="id">
        </div>
        <div>
          <label for="email">pw:</label>
          <input type="text" id="pw">
        </div>
        <input class="btn" type="button" value="sign in">
      </form>

      <ul id="users"></ul>
    </section>


       

       <!--  <span th:text="${memo}"></span>  -->

     <table>
	      <tr th:each ="memo: ${memo}">
		    <td th:text="${memo.id}" />
		    <td th:text="${memo.content}" />
		    <td th:text="${memo.update_date}" />
		 </tr>
	 </table>    
	
       <!--  referred source url: https://getbootstrap.com/docs/4.0/components/forms/  -->	
	<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
		  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>

</body>
</html>
